sudo: required
services:
  - docker
before_install:
- docker build -t keerthana814/react-test -f ./client/Dockerfile.dev ./client
script:
- docker run -e CI=true keerthana814/react-test npm run test
after_success:
  - docker build -t keerthana814/multi-client -f ./client/DockerFile ./client
  - docker build -t keerthana814/multi-server -f ./server/DockerFile ./server
  - docker build -t keerthana814/multi-nginx -f ./nginx/DockerFile ./nginx
  - docker build -t keerthana814/multi-worker -f ./worker/DockerFile ./worker
  # Login to Docker CLI to push the above images to docker hub
  # Logging in
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Pushing the image to docker hub
  - docker tag name_image[:tag] name_user_docker/name_image[:tag]
  docker push name_user_docker/name_image[:tag]
  - docker push keerthana814/multi-client
  - docker push keerthana814/multi-server
  - docker push keerthana814/multi-nginx
  - docker push keerthana814/multi-worker
